{% extends 'index.html' %}
{% load static %}
{% block title %}
    Ambulance
{% endblock title %}
{% block description %}

{% endblock description %}">
{% block keywords %}

{% endblock keywords %}">
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
{% block slider %}
    {% include 'ambulanceSlider.html' %}
{% endblock slider %}
{% block mainbody %}
    {% include 'ambulanceContent.html' %}
{% endblock mainbody %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}