{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<!-- index28:48-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}

        {% endblock title %} </title>
        <meta name="description" content="{% block description %}

        {% endblock description %}">
        <meta name="keywords" content="{% block keywords %}
        {% endblock keywords %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css" integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ" crossorigin="anonymous"/>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css" integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous"/>
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'shop/images/favicon.png'%}">
        <!-- Material Design Iconic Font-V2.2.0 -->
        <link rel="stylesheet" href="{% static 'shop/css/material-design-iconic-font.min.css'%}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{% static 'shop/css/font-awesome.min.css'%}">
        <!-- Font Awesome Stars-->
        <link rel="stylesheet" href="{% static 'shop/css/fontawesome-stars.css'%}">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/meanmenu.css'%}">
        <!-- owl carousel CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/owl.carousel.min.css'%}">
        <!-- Slick Carousel CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/slick.css'%}">
        <!-- Animate CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/animate.css'%}">
        <!-- Jquery-ui CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/jquery-ui.min.css'%}">
        <!-- Venobox CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/venobox.css'%}">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/nice-select.css'%}">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/magnific-popup.css'%}">
        <!-- Bootstrap V4.1.3 Fremwork CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css'%}">
        <!-- Helper CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/helper.css'%}">
        <!-- Main Style CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/style.css'%}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{% static 'shop/css/responsive.css'%}">
        <!-- Modernizr js -->
        <script src="{% static 'shop/js/vendor/modernizr-2.8.3.min.js'%}"></script>
    </head>
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">

            {% block header %}

            {% endblock header %}
            {% block sidebar %}

            {% endblock sidebar %}
            {% block slider %}

            {% endblock slider %}
            {% block mainbody %}

            {% endblock mainbody %}

            {% block footer %}

            {% endblock footer %}

        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="{% static 'shop/js/vendor/jquery-1.12.4.min.js'%}"></script>
        <!-- Popper js -->
        <script src="{% static 'shop/js/vendor/popper.min.js'%}"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="{% static 'shop/js/bootstrap.min.js'%}"></script>
        <!-- Ajax Mail js -->
        <script src="{% static 'shop/js/ajax-mail.js'%}"></script>
        <!-- Meanmenu js -->
        <script src="{% static 'shop/js/jquery.meanmenu.min.js'%}"></script>
        <!-- Wow.min js -->
        <script src="{% static 'shop/js/wow.min.js'%}"></script>
        <!-- Slick Carousel js -->
        <script src="{% static 'shop/js/slick.min.js'%}"></script>
        <!-- Owl Carousel-2 js -->
        <script src="{% static 'shop/js/owl.carousel.min.js'%}"></script>
        <!-- Magnific popup js -->
        <script src="{% static 'shop/js/jquery.magnific-popup.min.js'%}"></script>
        <!-- Isotope js -->
        <script src="{% static 'shop/js/isotope.pkgd.min.js'%}"></script>
        <!-- Imagesloaded js -->
        <script src="{% static 'shop/js/imagesloaded.pkgd.min.js'%}"></script>
        <!-- Mixitup js -->
        <script src="{% static 'shop/js/jquery.mixitup.min.js'%}"></script>
        <!-- Countdown -->
        <script src="{% static 'shop/js/jquery.countdown.min.js'%}"></script>
        <!-- Counterup -->
        <script src="{% static 'shop/js/jquery.counterup.min.js'%}"></script>
        <!-- Waypoints -->
        <script src="{% static 'shop/js/waypoints.min.js'%}"></script>
        <!-- Barrating -->
        <script src="{% static 'shop/js/jquery.barrating.min.js'%}"></script>
        <!-- Jquery-ui -->
        <script src="{% static 'shop/js/jquery-ui.min.js'%}"></script>
        <!-- Venobox -->
        <script src="{% static 'shop/js/venobox.min.js'%}"></script>
        <!-- Nice Select js -->
        <script src="{% static 'shop/js/jquery.nice-select.min.js'%}"></script>
        <!-- ScrollUp js -->
        <script src="{% static 'shop/js/scrollUp.min.js'%}"></script>
        <!-- Main/Activator js -->
        <script src="{% static 'shop/js/main.js'%}"></script>
    </body>

<!-- index30:23-->
</html>