{% extends 'index.html' %}
{% load static %}
{% block title %}
    MediShop
{% endblock title %}
{% block description %}

{% endblock description %}">
{% block keywords %}

{% endblock keywords %}">
{% block header %}
    {% include 'header.html' %}
{% endblock header %}
{% block slider %}
    {% include 'mediSlider.html' %}
{% endblock slider %}
{% block mainbody %}
    {% include 'mediContent.html' %}
{% endblock mainbody %}
{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}