{% load static %}
<div class="tab-pane fade" id="tab-2" role="tabpanel">

    <div class="container">
        <div class="col-12 bg-gray my-5 py-5 px-3 px-lg-5">
            <div class="row">

                <div class="col-12 col-md-6 col-lg flex-grow-1">
                    <label  class="text-light">Search by specialty</label>


                        <div id="cate-toggle" class="category-menu-list">
                            {% load mptt_tags %}
                            <ul>
                                {% recursetree category %}
                                    <li class="right-menu" ><a href="{% url 'category_doctor' id=node.id slug=node.slug %}" style="color: #ffffff; font-size: 20px;">
                                        {{ node.title}}</a>
                                        {% if not node.is_leaf_node %}
                                            <ul class="cat-mega-menu">
                                                <li class="right-menu cat-mega-title">
                                                    <a href="{% url 'category_doctor' id=node.id slug=node.slug %}">Sub Category</a>
                                                    <ul>
                                                        <li><a href="{% url 'category_doctor' id=node.id slug=node.slug %}">{{ children }}</a></li>

                                                    </ul>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>